/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
@font-face {
  font-family: 'OpenSans';
  src: local('OpenSans'), url("../public/assets/webfonts/OpenSans-Regular.ttf") format('opentype');
}

.menu > li > a {
  font-size: 1.125rem;
  color: #1a202c;
  font-weight: 600;
  padding: 15px 22px;
  text-transform: uppercase;
 
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid transparent;
  border-radius: .25rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
}
.me-2 {
  margin-right: .5rem!important;
}


h2 {
  font-size: 2.75rem;
  color: #756ae7;
}
.account-form .form-group input {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: 1px solid lightgray;
  border-radius: 4px;
 
 
  padding: 5px 20px;
  color: #a7a5a5 !important;
  /* border: none; */
  line-height: 50px;
  /* border: 1px solid transparent; */
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:    rgb(53, 49, 53) !important;
  
}



::-ms-input-placeholder { /* Microsoft Edge */
 color:    rgb(53, 49, 53) !important;
 
}

::input-placeholder { /* Most modern browsers support this now. */
 color:    rgb(53, 49, 53) !important;
 
}
.account-wrapper {
  border-radius: 8px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.06);
  background: #ffffff;
  padding: 60px 50px;
  text-align: center;
  max-width: 600px;
  margin: 0 auto 15px;
}
body {
    color: #C1C7CB;
    font-size: 1rem;
    line-height: 1.625;
    font-family: "Roboto", sans-serif;
    background-color: #756ae7;
}
.header-bar span {
  height: 3px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #fff;
  left: 0;
  background-color: black;
}
img {
  max-width: 90%;
  height: auto;
}
.header-section {
  z-index: 99;
  background: white;
}


.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid transparent;
  border-radius: .25rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
}
h6.mb-0 {
  color: #28292a;
}
.bg-primary {
  --bs-bg-opacity: 1;
  /* background-color: rgba(var(--bs-primary-rgb),var(--bs-bg-opacity))!important; */
  background-color: #28dbd1 !important;
}
h4 {
  color: #28292a;
}
input.form-control {
  height: 55px;
}

input.btn.btn-primary.px-4 {
    background-color: #2ecbce;
    color: black;
}
.main-body {
  margin-top: 100px;
}
.me-2 {
  margin-right: .5rem!important;
}



 